<div class ="container">
<div class ="jumbotron">
 <div class="alert alert-success" *ngIf="msg !=undefined"> {{msg}}</div>
<div class="alert alert-danger" *ngIf="errorMsg != undefined">{{errorMsg}}</div>
    
<form #frm="ngForm" (ngSubmit)="addEmployee()">
<div class="form-group">
    <h2 class = "text-center">Register as Employee</h2>
<label for="name">EmployeeName</label>
<input type="text"class="form-control"name="ename"#epname="ngModel"[(ngModel)]="employee.employeeName"required pattern="[a-zA-Z]{4,24}">
</div>
<div *ngIf="epname.touched && epname.errors?.required" class="alert alert-danger">Name is required
</div>
<div *ngIf="epname.touched && epname.errors?.pattern" class="alert alert-danger">Name is invalid
</div>
<small class="form-text text-muted">Name must contain only alphabets.</small>



<div class="form-group">
<label for="email">Email</label>
<input type="text" class="form-control" name="eemail" [(ngModel)]="employee.email" #epemail="ngModel" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$">
</div>
<div *ngIf="epemail.touched && epemail.errors?.required" class="alert alert-danger">Email is required
</div>
<div *ngIf="epemail.touched && epemail.errors?.pattern" class="alert alert-danger">Email is invalid
</div>
<small class="form-text text-muted">email should be  e.g:"abc@xyz.com".</small>



<div class="form-group">
<label for="phone">Mobile</label>
<input type="text" class="form-control" name="ephone" [(ngModel)]="employee.phone" #epphone="ngModel" required pattern="[0-9]{10}">
</div>
<div *ngIf="epphone.touched && epphone.errors?.required" class="alert alert-danger">phone is required
</div>
<div *ngIf="epphone.touched && epphone.errors?.pattern" class="alert alert-danger">phone is invalid
</div>
<small class="form-text text-muted">Phone number must be 10 digits long.</small>

            

<div class="form-group">
<label for="username">Username</label>
<input type="text" class="form-control" name="euser" [(ngModel)]="employee.username" #epuser="ngModel" required pattern="[a-zA-Z0-9-_]{4,24}">
</div>
<div *ngIf="epuser.touched && epuser.errors?.required" class="alert alert-danger">Username is required
</div>
<div *ngIf="epuser.touched && epuser.errors?.pattern" class="alert alert-danger">Username is invalid
</div>
<small class="form-text text-muted">Username must only contain alphabets and numbers minimum of 4 characters</small>


<div class="form-group">
<label for="password">Password</label>
<input type="password" class="form-control" name="epass" [(ngModel)]="employee.password" #eppass="ngModel" required pattern="[a-zA-Z0-9]{8,24}">
</div>
<div *ngIf="eppass.touched && eppass.errors?.required" class="alert alert-danger">Password is required
</div>
<div *ngIf="eppass.touched && eppass.errors?.pattern" class="alert alert-danger">Password is invalid
</div>
<small class="form-text text-muted">Password must be minimum 8 characters having atleast 1 uppercase, 1 lowercase and 1 number</small>



<div class="form-group">
<label for="city">City</label>
<input type="text" class="form-control" name="ecity" [(ngModel)]="employee.city" #epcity="ngModel" required pattern="^[a-zA-Z]+(?:[\\s-][a-zA-Z]+)*$">
</div>
<div *ngIf="epcity?.touched && epcity.errors?.required" class="alert alert-danger">City is required
</div>
<div *ngIf="epcity?.touched && epcity.errors?.pattern" class="alert alert-danger">City is invalid
</div>
<small class="form-text text-muted">City name should be alphabets.</small>


<div class="form-group">
<label for="state">State</label>
<input type="text" class="form-control" name="estate" [(ngModel)]="employee.state" #epstate="ngModel" required pattern="^[a-zA-Z]+(?:[\\s-][a-zA-Z]+)*$">
</div>
<div *ngIf="epstate?.touched && epstate.errors?.required" class="alert alert-danger">State is required
</div>
<div *ngIf="epstate?.touched && epstate.errors?.pattern" class="alert alert-danger">State is invalid
</div>
<small class="form-text text-muted">State name should be alphabets.</small>



<div class="form-group">
<label for="pin">Pincode</label>
<input type="text" class="form-control" name="epin" [(ngModel)]="employee.pin" #eppin="ngModel" required pattern="^[1-9]{1}[0-9]{2}[0-9]{3}$">
</div>
<div *ngIf="eppin?.touched && eppin.errors?.required" class="alert alert-danger">Pin is required
</div>
<div *ngIf="eppin?.touched && eppin.errors?.pattern" class="alert alert-danger">Pin is invalid
</div>
<small class="form-text text-muted">Pincode must contain only digits and length of 6.</small>



<div class="form-group">
<label for="landmark">Landmark</label>
<input type="text" class="form-control" name="elandmark" [(ngModel)]="employee.landmark" #epland="ngModel" required pattern="^.{5,50}$">
</div>
<div *ngIf="epland?.touched && epland.errors?.required" class="alert alert-danger">Landmark is required
</div>
<div *ngIf="epland?.touched && epland.errors?.pattern" class="alert alert-danger">Landmark is invalid
</div>
<small class="form-text text-muted">Landmark to be entered.</small>



<button type="submit" name="button" class="btn btn-success" [disabled] ="frm.invalid">AddEmployee</button>
</form>
</div>
<div>
