
<div class = "container">
    <div class = "container">
<h2>WELCOME TO NGO PORTAL</h2>
</div>

<div class = "container"><p>NGO: A non-governmental organization (NGO) is a non-profit, citizen-based group that functions independently of government. 
NGOs are often organized on local, national, and up to the international levels to serve specific social or political purposes.
NGOs are non-profit but may run budgets of millions or up to billions of dollars each year. As such, NGOs rely on a variety of funding sources from private donations and membership dues to government contributions.
Types of NGOs:
Operational NGO: which focus on development project
Advocacy NGO: which are organized to promote cause
</p>
</div>
</div>